<a href="https://colab.research.google.com/github/JoelAbadi/DI-Bootcamp/blob/main/daily_challenge_w4_d1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Daily Challenge

1

1: Import Required Libraries

In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

2: Generate Synthetic Temperature Data Using NumPy

In [4]:
cities = ['London', 'Paris', 'Madrid', 'Berlin', 'Rome', 'Athens', 'Lisbon', 'Amsterdam', 'Oslo', 'Helsinki']
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

temperature_data = np.random.uniform(low=-5, high=35, size=(10, 12))

3: Convert NumPy Array to Pandas DataFrame

In [5]:
df_temperatures = pd.DataFrame(data=np.round(temperature_data, 1), index=cities, columns=months)
df_temperatures

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
London,20.2,30.0,10.9,28.6,28.0,20.0,13.8,5.9,24.9,5.7,29.1,3.0
Paris,18.9,25.6,18.1,9.1,32.6,15.7,31.6,20.3,23.1,22.9,21.1,9.6
Madrid,13.9,-3.1,0.6,2.5,25.0,17.1,14.9,26.7,28.0,17.9,9.4,19.0
Berlin,17.3,1.7,19.4,32.2,21.9,16.8,1.3,13.7,14.8,6.9,18.3,23.3
Rome,18.4,27.7,16.9,26.9,31.4,8.6,31.3,20.0,-2.7,-1.0,-1.4,3.5
Athens,-1.9,-4.2,20.2,30.0,12.7,20.9,8.0,28.6,6.7,33.5,1.8,19.3
Lisbon,28.1,17.2,-3.1,19.6,9.7,27.6,31.0,33.9,-4.2,4.3,0.7,29.4
Amsterdam,9.3,-3.7,19.3,27.3,2.8,9.4,19.7,1.6,29.1,-1.5,28.2,17.5
Oslo,28.4,10.1,33.1,16.3,5.3,18.3,27.2,28.1,30.2,6.3,3.2,12.5
Helsinki,16.1,20.2,5.7,29.7,21.4,7.0,28.0,18.5,10.2,30.5,13.7,30.9

4: Calculate Annual Average Temperature for Each City

In [6]:

df_temperatures['Average'] = df_temperatures.mean(axis=1)
df_temperatures

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Average
London,20.2,30.0,10.9,28.6,28.0,20.0,13.8,5.9,24.9,5.7,29.1,3.0,18.341667
Paris,18.9,25.6,18.1,9.1,32.6,15.7,31.6,20.3,23.1,22.9,21.1,9.6,20.716667
Madrid,13.9,-3.1,0.6,2.5,25.0,17.1,14.9,26.7,28.0,17.9,9.4,19.0,14.325000
Berlin,17.3,1.7,19.4,32.2,21.9,16.8,1.3,13.7,14.8,6.9,18.3,23.3,15.633333
Rome,18.4,27.7,16.9,26.9,31.4,8.6,31.3,20.0,-2.7,-1.0,-1.4,3.5,14.966667
Athens,-1.9,-4.2,20.2,30.0,12.7,20.9,8.0,28.6,6.7,33.5,1.8,19.3,14.633333
Lisbon,28.1,17.2,-3.1,19.6,9.7,27.6,31.0,33.9,-4.2,4.3,0.7,29.4,16.183333
Amsterdam,9.3,-3.7,19.3,27.3,2.8,9.4,19.7,1.6,29.1,-1.5,28.2,17.5,13.250000
Oslo,28.4,10.1,33.1,16.3,5.3,18.3,27.2,28.1,30.2,6.3,3.2,12.5,18.250000
Helsinki,16.1,20.2,5.7,29.7,21.4,7.0,28.0,18.5,10.2,30.5,13.7,30.9,19.325000

5: Identify Hottest and Coldest Cities

In [7]:

hottest_city = df_temperatures['Average'].idxmax()
coldest_city = df_temperatures['Average'].idxmin()

print("Hottest City:", hottest_city)
print("Coldest City:", coldest_city)

Hottest City: Paris
Coldest City: Amsterdam

6: Data Visualization

In [ ]:

df_plot = df_temperatures.drop(columns='Average')
plt.figure(figsize=(14, 6))

for i, row in df_plot.iterrows():
    plt.plot(df_plot.columns, row, label=i)

plt.title("Monthly Temperature Trends for Each City")
plt.xlabel("Month")
plt.ylabel("Temperature (°C)")
plt.legend(title="Cities", bbox_to_anchor=(1.05, 1), loc='upper left')
plt.grid(True)
plt.tight_layout()
plt.show()

7: Summary Report

In [8]:

from IPython.display import Markdown

Markdown(f"""
## 🌍 Temperature Trend Analysis Summary

- **Hottest City**: **{hottest_city}**
- **Coldest City**: **{coldest_city}**

This dataset showcases synthetic average monthly temperatures (°C) across 10 global cities.
By analyzing these values, we identified cities with the highest and lowest annual averages.
The visualization highlights seasonal patterns and differences in climate between regions.
""")

## 🌍 Temperature Trend Analysis Summary

- **Hottest City**: **Paris**
- **Coldest City**: **Amsterdam**

This dataset showcases synthetic average monthly temperatures (°C) across 10 global cities.
By analyzing these values, we identified cities with the highest and lowest annual averages.
The visualization highlights seasonal patterns and differences in climate between regions.